html
{
	height:100%;
	margin:0px auto;
		
}

body
{
	height:100%;
	margin:0px auto;



}
.wrapper1
{
	min-height:2220px;
	background:#e9e9e9;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
}

.header
{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:50px;
	background:#800080;
	margin:0px auto;
	z-index:1;
}

.rightwrapper
{	
	position:fixed;
	top:60px;
	width:300px;
	right:40px;
	height:590px;
	padding:0px auto;
	background:#ffffff;
	overflow:hidden;
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
}

.survey
{	
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	position:absolute;
	background:#ffffff;
	left:10px;
	top:-10px;
}

.rightborder1
{
	position:absolute;
	background:#ffffff;
	left:10px;
	top:138px;
	border-collapse: separate;
	border-spacing: 20px 20px;	
	border-bottom:2px solid #c9c9c9;
	color:#ffffff;
}

.ad1
{
	position:absolute;
	float:middle;
	background:#ffffff;
	left:10px;
	top:165px;
	border-collapse: separate;
	border-spacing: 100px 100px;	
	border:45px solid #c9c9c9;
	border-right:124px solid #c9c9c9;
	border-left:124px solid #c9c9c9;
	color:#000000;
}

.description1
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	position:absolute;
	float:middle;
	background:#ffffff;
	left:10px;
	top:305px;
	color:#000000;
}

.ad2
{
	position:absolute;
	float:middle;
	background:#ffffff;
	left:10px;
	top:375px;
	border-collapse: separate;
	border-spacing: 100px 100px;	
	border:45px solid #c9c9c9;
	border-right:124px solid #c9c9c9;
	border-left:124px solid #c9c9c9;
	color:#000000;
}

.description2
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	position:absolute;
	float:middle;
	background:#ffffff;
	left:10px;
	top:515px;
	color:#000000;
}


.middlewrapper
{	
	position:absolute;
	top:60px;
	width:620px;
	right:355px;
	height:2733px;
	margin:0px auto;
	padding:0px auto;
	overflow:hidden;
}

.banner
{
	position:absolute;
	background:#e9e9e9;
	top:0px;
}

.column1
{
	position:absolute;
	background:#ffffff;
	top:210px;
	width:620px;
	height:260px;
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
}

.bar1
{
	position:absolute;
	background:#800080;
	top:0px;
	width:620px;
	height:40px;
	border-top-right-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:24px;
}

.title1
{
	top:-15px;
	left:10px;
	position:absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size:24px;
	color:#ffffff;
}

.image1
{
	position:absolute;
	top:60px;
	left:20px;
}

.book1
{
	top:48px;
	left:135px;
	position:absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
}

.image2
{
	position:absolute;
	top:60px;
	left:315px;
}

.book2
{
	top:48px;
	left:430px;
	position:absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
}

.director1
{
		font-family: Arial, Helvetica, sans-serif;
		font-size:16px;
		border: solid 0px #000000;
		background:-webkit-gradient(linear, left top, left bottom, from(#800080), to(#800080));
		background:-moz-linear-gradient(top,  #800080,  #800080);
		border-bottom-left-radius: 5px 5px;
		border-top-right-radius: 35px 35px;
		position:absolute;
		float:left;
		top:214px;
		left:-2px;
		color:#ffffff;
		background-color: #4CAF50;
  		padding: 12px 32px;
  		text-align: left;
   		text-decoration: none;
   		display: inline-block;
    	margin: 4px 2px;
    	cursor: pointer;
}

.column2
{
	position:absolute;
	background:#ffffff;
	top:480px;
	width:620px;
	height:260px;
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
}

.column3
{
	position:absolute;
	background:#ffffff;
	top:750px;
	width:620px;
	height:260px;
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
}

.column4
{
	position:absolute;
	background:#ffffff;
	top:1020px;
	width:620px;
	height:260px;
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
}

.column5
{
	position:absolute;
	background:#ffffff;
	top:1290px;
	width:620px;
	height:260px;
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
}

.column6
{
	position:absolute;
	background:#ffffff;
	top:1560px;
	width:620px;
	height:260px;
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
}

.column7
{
	position:absolute;
	background:#ffffff;
	top:1830px;
	width:620px;
	height:260px;
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
}

.column8
{
	position:absolute;
	background:#ffffff;
	top:2100px;
	width:620px;
	height:260px;
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
}

.column9
{
	position:absolute;
	background:#ffffff;
	top:2370px;
	width:620px;
	height:260px;
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
}
.column10
{
	position:absolute;
	background:#ffffff;
	top:2640px;
	width:620px;
	height:93px;
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
}

.director2
{
		font-family: Arial, Helvetica, sans-serif;
		font-size:16px;
		border: solid 0px #000000;
		background:-webkit-gradient(linear, left top, left bottom, from(#800080), to(#800080));
		background:-moz-linear-gradient(top,  #800080,  #800080);
		border-top-left-radius: 5px 5px;
		border-top-right-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
		position:absolute;
		float:left;
		top:-4px;
		left:-2px;
		color:#ffffff;
		background-color: #4CAF50;
  		padding: 12px 175px;
  		text-align: center;
   		text-decoration: none;
   		display: inline-block;
    	margin: 4px 2px;
    	cursor: pointer;
}


.message1
{
		font-family: Arial, Helvetica, sans-serif;
		font-size:25px;
		border: solid 0px #000000;
		border-bottom-left-radius: 5px 5px;
		border-top-right-radius: 35px 35px;
		position:absolute;
		top:23px;
		left:110px;
		color:#800080;
  		text-align: center;
   		text-decoration: none;
   		display: inline-block;
    	margin: 4px 2px;
    	cursor: pointer;
}

.leftwrapper
{	
	position:fixed;
	top:60px;
	width:235px;
	left:40px;
	height:590px;
	margin:0px auto;
	padding:0px auto;
	background:#ffffff;
	overflow:hidden;
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
	font-size:36px;
	font-family: Arial, Helvetica, sans-serif;
	color:#800080;
}

.logo
{
	position:absolute;
	left:60px;
	top:5px;
}

.Name
{
	position:absolute;
	left:110px;
	top:-17px;
	color:white;
	font-size:18px;
}


.loginContainer
{
	position:absolute;
	top:14px;
	right:455px;
	border:1px solod black;
	color: rgb(255,255,255);
	background:#b9b9b9;
}


.Email
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	position:absolute;
	float:right;
	top:4px;
	right:275px;
	color:rgb(255,255,255);
}

.Password
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	position:absolute;
	float:right;
	top:4px;
	right:95px;
	color:rgb(255,255,255);
}

.Button
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	position:absolute;
	float:right;
	top:20px;
	right:41px;
	color:rgb(255,255,255);
}

	#tfnewsearch{
		float:center;
		padding:20px;
	}

	.Dropdown{
	margin: -20px;
		padding: 0px 0px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		outline: none;
		cursor: pointer;
		text-align: none;
		text-decoration: none;
		color: #800080;
		border: solid 3px #000000; border-right:-3px; 
		background: #800080;
		background: -webkit-gradient(linear, left top, left bottom, from(#d9d9d9), to(#d9d9d9));
		background: -moz-linear-gradient(top,  #d9d9d9,  #d9d9d9);
		border-top-right-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
		position:absolute;
		float:left;
		top:32px;
		right:895px;
		color:rgb(255,255,255);	
	}

	.tftextinput{
		margin: 0;
		padding: 5px 5px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		border:3px solid #000000; border-right:0px;
		position:absolute;
	float:left;
	top:12px;
	right:590px;
	}

	.tfbutton {
		margin: -20px;
		padding: 0px 0px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		outline: none;
		cursor: pointer;
		text-align: none;
		text-decoration: none;
		color: #800080;
		border: solid 3px #000000; border-right:-3px; 
		background: #800080;
		background: -webkit-gradient(linear, left top, left bottom, from(#d9d9d9), to(#d9d9d9));
		background: -moz-linear-gradient(top,  #d9d9d9,  #d9d9d9);
		border-top-right-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
		position:absolute;
		float:left;
		top:32px;
		right:572px;
		color:rgb(255,255,255);
	}

	.tfbutton:hover {
		text-decoration: none;
		background: #007ead;
		background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
		background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	}
	/* Fixes submit button height problem in Firefox */
	.tfbutton::-moz-focus-inner {
	  border: 0;
	}
	.tfclear{
		clear:both;
	}


.profile
{
	border-radius: 50%;
}

.profilebar
{
	position:absolute;
	top:8px;
	right:220px;
	padding: 0px 0px;
	font-family: Arial, Helvetica, sans-serif;
	outline: none;
	cursor: pointer;
	background-color:transparent;
    color: #ffffff;
    display: inline-block;
    font-size: 18px;
    -webkit-font-smoothing:antialiased;
    font-weight: bold;
    height: 10px;
    line-height: 20px;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
}

.logout
{
	border-radius: 50%;
}

.logoutbar
{
	position:absolute;
	top:8px;
	right:90px;
	padding: 0px 0px;
	font-family: Arial, Helvetica, sans-serif;
	outline: none;
	cursor: pointer;
	background-color:transparent;
    color: #ffffff;
    display: inline-block;
    font-size: 18px;
    -webkit-font-smoothing:antialiased;
    font-weight: bold;
    height: 10px;
    line-height: 20px;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
}

.leftmessage
{
	position:absolute;
	top:0px;
	left:15px;
	font-family: Arial, Helvetica, sans-serif;
	outline: none;
    color: #800080;
    font-size: 16px;
    font-weight: bold;
}

.leftmessage1
{
	position:absolute;
	top:515px;
	left:15px;
	font-family: Arial, Helvetica, sans-serif;
	outline: none;
    color: #800080;
    font-size: 16px;
    font-weight: bold;
}
.mycartbar
{
	border: solid 2px #eeeeee;
	position:absolute;
	top:70px;
	left:15px;
	padding: 0px 0px;
	font-family: Arial, Helvetica, sans-serif;
	outline: none;
	cursor: pointer;
	background-color:transparent;
    color: #800080;
    display: inline-block;
    font-size: 14px;
    -webkit-font-smoothing:antialiased;
    font-weight: bold;
    height: 32px;
    width:200px;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
}

.shoppinghistorybar
{
	border: solid 2px #eeeeee;
	position:absolute;
	top:105px;
	left:15px;
	padding: 0px 0px;
	font-family: Arial, Helvetica, sans-serif;
	outline: none;
	cursor: pointer;
	background-color:#ffffff;
    color: #800080;
    display: inline-block;
    font-size: 14px;
    -webkit-font-smoothing:antialiased;
    font-weight: bold;
   height: 32px;
    width:200px;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
}

.leftborder1
{
	position:absolute;
	background-color:transparent;
	left:10px;
	top:10px;
	border-bottom:2px solid #c9c9c9;
	color:#ffffff;
}

.pagebar
{
	position:absolute;
	background:#ffffff;
	border: solid 3px #800080;
	top:0px;
	width:614px;
	height:45px;
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
}

.pagebar
{
	position:absolute;
	background:#ffffff;
	border: solid 3px #800080;
	top:2100px;
	width:614px;
	height:45px;
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
}

.previous
{
		font-family: Arial, Helvetica, sans-serif;
		font-size:18px;
		border: solid 0px #000000;
		background:-webkit-gradient(linear, left top, left bottom, from(#800080), to(#800080));
		background:-moz-linear-gradient(top,  #800080,  #800080);
		border-bottom-left-radius: 5px 5px;
		border-top-left-radius: 5px 5px;
		position:absolute;
		float:left;
		top:-5px;
		left:-4px;
		color:#ffffff;
		background-color: #4CAF50;
  		padding: 14px 20px;
  		text-align: left;
   		text-decoration: none;
   		display: inline-block;
    	margin: 4px 2px;
    	cursor: pointer;
}

.next
{
		font-family: Arial, Helvetica, sans-serif;
		font-size:18px;
		border: solid 0px #000000;
		background:-webkit-gradient(linear, left top, left bottom, from(#800080), to(#800080));
		background:-moz-linear-gradient(top,  #800080,  #800080);
		border-bottom-right-radius: 5px 5px;
		border-top-right-radius: 5px 5px;
		position:absolute;
		float:left;
		top:-5px;
		right:-3px;
		color:#ffffff;
		background-color: #4CAF50;
  		padding: 14px 34px;
  		text-align: left;
   		text-decoration: none;
   		display: inline-block;
    	margin: 4px 2px;
    	cursor: pointer;
}

.result1
{
	position:absolute;
	background:#ffffff;
	top:60px;
	width:620px;
	height:2030px;
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
	page
}

.resultbar1
{
	position:absolute;
	background:#800080;
	top:0px;
	width:620px;
	height:40px;
	border-top-right-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:24px;
}

.resulttitle1
{
	top:-15px;
	left:10px;
	position:absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size:24px;
	color:#ffffff;
}

.page
{
	top:12px;
	left:120px;
	position:absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#800080;
	  font-weight: bold;
}

.page1
{
	text-align: center;
	border: solid 2px #eeeeee;
	position:absolute;
	top:10px;
	left:170px;
	padding: 0px 0px;
	font-family: Arial, Helvetica, sans-serif;
	outline: none;
	cursor: pointer;
	background-color:transparent;
    color: #800080;
    font-size: 18px;
    font-weight: bold;
    height: 18px;
    width:18px;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
}

.page2
{
	text-align: center;
	border: solid 2px #eeeeee;
	position:absolute;
	top:10px;
	left:200px;
	padding: 0px 0px;
	font-family: Arial, Helvetica, sans-serif;
	outline: none;
	cursor: pointer;
	background-color:transparent;
    color: #800080;
    font-size: 18px;
    font-weight: bold;
    height: 18px;
    width:18px;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
}

.page3
{
	text-align: center;
	border: solid 2px #eeeeee;
	position:absolute;
	top:10px;
	left:230px;
	padding: 0px 0px;
	font-family: Arial, Helvetica, sans-serif;
	outline: none;
	cursor: pointer;
	background-color:transparent;
    color: #800080;
    font-size: 18px;
    font-weight: bold;
    height: 18px;
    width:18px;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
}

.image3
{
	position:absolute;
	top:260px;
	left:20px;
}

.book3
{
	top:248px;
	left:135px;
	position:absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
}

.image4
{
	position:absolute;
	top:260px;
	left:315px;
}

.book4
{
	top:248px;
	left:430px;
	position:absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
}

.image5
{
	position:absolute;
	top:460px;
	left:20px;
}

.book5
{
	top:448px;
	left:135px;
	position:absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
}

.image6
{
	position:absolute;
	top:460px;
	left:315px;
}

.book6
{
	top:448px;
	left:430px;
	position:absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
}

.image7
{
	position:absolute;
	top:660px;
	left:20px;
}

.book7
{
	top:648px;
	left:135px;
	position:absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
}

.image8
{
	position:absolute;
	top:660px;
	left:315px;
}

.book8
{
	top:648px;
	left:430px;
	position:absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
}

.image9
{
	position:absolute;
	top:860px;
	left:20px;
}

.book9
{
	top:848px;
	left:135px;
	position:absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
	display: inline
}

.image10
{
	position:absolute;
	top:860px;
	left:315px;
}

.book10
{
	top:848px;
	left:430px;
	position:absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
	display: inline;
}

.image11
{
	position:absolute;
	top:1060px;
	left:20px;
}

.book11
{
	top:1048px;
	left:135px;
	position:absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
}

.image12
{
	position:absolute;
	top:1060px;
	left:315px;
}

.book12
{
	top:1048px;
	left:430px;
	position:absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
}

.image13
{
	position:absolute;
	top:1260px;
	left:20px;
}

.book13
{
	top:1248px;
	left:135px;
	position:absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
}

.image14
{
	position:absolute;
	top:1260px;
	left:315px;
}

.book14
{
	top:1248px;
	left:430px;
	position:absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
}

.image15
{
	position:absolute;
	top:1460px;
	left:20px;
}

.book15
{
	top:1448px;
	left:135px;
	position:absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
}

.image16
{
	position:absolute;
	top:1460px;
	left:315px;
}

.book16
{
	top:1448px;
	left:430px;
	position:absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
}

.image17
{
	position:absolute;
	top:1660px;
	left:20px;
}

.book17
{
	top:1648px;
	left:135px;
	position:absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
}

.image18
{
	position:absolute;
	top:1660px;
	left:315px;
}

.book18
{
	top:1648px;
	left:430px;
	position:absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
}

.image19
{
	position:absolute;
	top:1860px;
	left:20px;
}

.book19
{
	top:1848px;
	left:135px;
	position:absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
	display: inline
}

.image20
{
	position:absolute;
	top:1860px;
	left:315px;
}

.book20
{
	top:1848px;
	left:430px;
	position:absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
	display: inline;
}